<a href="https://colab.research.google.com/github/Nayan-Bebale/DSA-Practice/blob/main/4_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List

A list is a data structure that holds an orderd collection of items.

Example:- Shoping list
1. Milk
2. Eggs
3. Cheese
4. Butter

In Python we write like<br>
shopingList = ['Milk', 'Eggs', 'Cheese', 'Butter']

[10, 20, 30, 40] ------------------------------> Integer<br>
['Nayan', 'Deepek', 'Sanjay'] -----------> Strings<br>
['spam', 1, 2.0, 5] ---------------------------> String, Integer, float<br>
['spam', 1, 2.0, 5, [10, 20]] --------------> String, Integer, float, nestedList<br>

In [ ]:
integer = [10, 20, 30, 40]
print(integer)

strings = ['Nayan', 'Deepek', 'Sanjay']
print(strings)

mixeList = ['spam', 1, 2.0, 5]
print(mixeList)

nestedList = ['spam', 1, 2.0, 5, [10, 20], ['test', 'to', 'you']]
print(nestedList)

empty = []
print(empty)

[10, 20, 30, 40]
['Nayan', 'Deepek', 'Sanjay']
['spam', 1, 2.0, 5]
['spam', 1, 2.0, 5, [10, 20], ['test', 'to', 'you']]
[]

## Accessing a list

braket: [index]

listName[index]

strings = ['Nayan', 'Deepek', 'Sanjay']
          <br>
positiveIndexing = [0, 1, 2]<br>
negativeIndexing = [-3, -2, -1]<br>

In [ ]:
print(strings[2])
print(strings[-1])
print('Sanjay' in strings)

Sanjay
Sanjay
True

### Traverse List

In [ ]:
for i in strings:
  print(i)

for i in range(len(strings)):
  strings[i] += ' Bebale'
  print(strings[i])

Nayan
Deepek
Sanjay
Nayan Bebale
Deepek Bebale
Sanjay Bebale

## Adding New element In List

Adding new value in List

L1 = [1, 2, 4, 5, 6]<br>
1) By index value  : L1[2] = 3 <br>
2) By insert functions : L1.insert(i, elmnt) <br>
3) By append functions : list.append(elmnt) <br>

In [ ]:
L1 = [1, 2, 4, 5, 6]
L1[2] = 3
print(L1)

[1, 2, 3, 5, 6]

In [ ]:
L1.insert(4, 11)
print(L1)

In [ ]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

### Slicing and Delete

Slicing of the element: newList[start : end : steps]

#### Slicing

In [ ]:
newList = ['apple', 'banana', 'cherry','Ford', 'BMW', 'Volvo']
print(newList[1::2])

['banana', 'Ford', 'Volvo']

In [ ]:
newList[0:2] = ['x', 'y']
print(newList[:])

['x', 'y', 'cherry', 'Ford', 'BMW', 'Volvo']

#### Deletion
- **pop(index)**  :If we want to delete last element **pop()** -------> O(1)/O(n)<br>
- delete() : **del listName[index]** -------> O(n)<br>If I want to delete secont index to last index then use **del newList[2:5]**
- **remove(element)** ------> O(n)

In [ ]:
newList.pop(2)
print(newList)

['x', 'y', 'Ford', 'BMW', 'Volvo']

In [ ]:
del newList[2:5]

In [ ]:
print(newList)

['x', 'y']

### Searching the given value

- **By 'IN' operator** : The time complexity for checking membership is O(n) where n is the length of the list L1, and the space complexity is O(1).
- **Linear search** :  The time complexity of the code snippet is O(n) where n is the length of the list L1, and the space complexity is O(1).

In [ ]:
# By In operator
L1 = [1, 2, 4, 5, 6, 7, 8, 9]

print(2 in L1)

True

In [ ]:
# By Linear Search

for i in range(len(L1)):
  if 2 == i:
    print('present')
    break
else:
  print('not present')

present

### List Operations Function

In [ ]:
#  + operator : concatenate Lists

a = [1, 2, 3, 4]
b = [5, 6, 7, 8]
c = a+b
print(c)

# * operator
a = a * 4
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### Strings and List

In [ ]:
a = 'nayan'
b = list(a)
print(b)

['n', 'a', 'y', 'a', 'n']

In [ ]:
a = 'span-span1-span2'
b = a.split('-')

In [ ]:
print(b)

['span', 'span1', 'span2']

## Practice Quiz

Q-1. What will be the output of the following code block?<br>
a=[1,2,3,4,5,6,7,8,9]<br>
print(a[::2])

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])
# [1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

Q-2. What will be the output of the following code snippet?
```
a=[1,2,3,4,5,6,7,8,9]
a[::2]=10,20,30,40,50,60
print(a)
```
A. ValueError: attempt to assign sequence of size 6 to extended slice of size 5<br>
B. [10, 2, 20, 4, 30, 6, 40, 8, 50, 60]<br>
C. [1, 2, 10, 20, 30, 40, 50, 60]<br>
D. [1, 10, 3, 20, 5, 30, 7, 40, 9, 50, 60]

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
a[::2]=10,20,30,40,50,60
print(a)

ValueError: attempt to assign sequence of size 6 to extended slice of size 5

Q-3. What will be the output of the following code snippet?

a=[1,2,3,4,5]
print(a[3:0:-1])
<br>A. Syntax error
<br>B. [4, 3, 2]
<br>C. [4, 3]
<br>D. [4, 3, 2, 1]

In [ ]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

Q-4. What will be the output of the following code snippet?
```
def f(value, values):
    v = 1
    values[0] = 44
t = 3
v = [1, 2, 3]
f(t, v)
print(t, v[0])
```
<br>A. 1 44
<br>B. 3 1
<br>C. 3 44
<br>D. 1 1

In [1]:
def f(value, values):
    v = 1
    values[0] = 44
t = 3
v = [1, 2, 3]
f(t, v)
print(t, v[0])

3 44

Q-5. What is the correct command to shuffle the following list?

fruit=['apple', 'banana', 'papaya', 'cherry']
<br>A. fruit.shuffle()
<br>B. shuffle(fruit)
<br>C. random.shuffle(fruit)
<br>D. random.shuffleList(fruit)

correct answer:- C

Q-6. What will be the output of the following code snippet?
```
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
def fun(m):
    v = m[0][0]

    for row in m:
        for element in row:
            if v < element: v = element

    return v
print(fun(data[0]))
```
<br>A. 1
<br>B. 2
<br>C. 3
<br>D. 4
<br>E. 5
<br>F. 6

In [2]:
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
def fun(m):
    v = m[0][0]

    for row in m:
        for element in row:
            if v < element: v = element

    return v
print(fun(data[0]))

4

Q-7. What will be the output of the following code snippet?
```
arr = [[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 10, 11],
       [12, 13, 14, 15]]
for i in range(0, 4):
    print(arr[i].pop())
```
<br>A. 1 2 3 4
<br>B. 1 4 8 12
<br>C. 4 7 11 15
<br>D. 12,13,14,15

In [3]:
arr = [[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 10, 11],
       [12, 13, 14, 15]]
for i in range(0, 4):
    print(arr[i].pop())

4
7
11
15

beacuse when we not define which index's element we have to remove then it will automatically remove last one element.

that's why: it's answer is **C**

Q-8. What will be the output of the following code snippet?
```
def f(i, values = []):
    values.append(i)
    print (values)
    return values
f(1)
f(2)
f(3)
```
<br>A. [1] [2] [3]
<br>B. [1, 2, 3]
<br>C. [1] [1, 2] [1, 2, 3]
<br>D. 1 2 3

In [4]:
def f(i, values = []):
    values.append(i)
    print (values)
    return values
f(1)
f(2)
f(3)

[1]
[1, 2]
[1, 2, 3]

[1, 2, 3]

Q-9. What will be the output of the following code snippet?
```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6):
    print(arr[i], end = " ")
```
<br>A. 1 2 3 4 5 6
<br>B. 2 3 4 5 6 1
<br>C. 1 1 2 3 4 5
<br>D. 2 3 4 5 6 6

In [5]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6):
    print(arr[i], end = " ")

2 3 4 5 6 6

Because it's replace its value not add new value in list.

Q-10. What will be the output of the following code snippet?
```
fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']
fruit_list2 = fruit_list1
fruit_list3 = fruit_list1[:]

fruit_list2[0] = 'Guava'
fruit_list3[1] = 'Kiwi'

sum = 0
for ls in (fruit_list1, fruit_list2, fruit_list3):
    if ls[0] == 'Guava':
        sum += 1
    if ls[1] == 'Kiwi':
        sum += 20

print(sum)
```
<br>A. 22
<br>B. 21
<br>C. 0
<br>D. 43

In [11]:
fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']
fruit_list2 = fruit_list1

fruit_list3 = fruit_list1[:]

fruit_list2[0] = 'Guava'

fruit_list3[1] = 'Kiwi'


print(fruit_list1)
print(fruit_list2)
print(fruit_list3)
print(" ")
sum = 0
for ls in (fruit_list1, fruit_list2, fruit_list3):
    print(ls)
    print(ls[0])
    if ls[0] == 'Guava':
        sum += 1
    if ls[1] == 'Kiwi':
        sum += 20

print(sum)

['Guava', 'Berry', 'Cherry', 'Papaya']
['Guava', 'Berry', 'Cherry', 'Papaya']
['Guava', 'Berry', 'Cherry', 'Papaya']
['Apple', 'Kiwi', 'Cherry', 'Papaya']

['Guava', 'Berry', 'Cherry', 'Papaya']
Guava
['Guava', 'Berry', 'Cherry', 'Papaya']
Guava
['Apple', 'Kiwi', 'Cherry', 'Papaya']
Apple
22

# Project of Array or List

In [28]:
import numpy as np

def temperatureAverage(days):
  arr1 = np.array([])
  for i in range(days):
    temp = int(input(f"Day {i+1}'s high temperature: "))
    arr1 = np.append(arr1, temp)
  average = np.sum(arr1)/days
  sum = 0
  for i in arr1:
    if i > average:
      sum += 1
  print(" ")
  print(f'Average = {average}')
  print(f'{sum} day(s) above average')


days = int(input("how many day's temperature? "))
temperatureAverage(days)

how many day's temperature? 3
Day 1's high temperature: 20
Day 2's high temperature: 30
Day 3's high temperature: 40

Average = 30.0
1 day(s) above average