<a href="https://colab.research.google.com/github/Nayan-Bebale/DSA-Practice/blob/main/7_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

A tuple is an immutable sequence of Python objects

Tuples are also comparable and hashable

t = ('a', 'b', 'c', 'd', 'e')

**Immutable means:-** Onec You declare the tuple then you can not be change there element or value.<br>
Value can't be change

In [ ]:
t = 'a', 'b', 'c', 'd', 'e'
print(t)

# If we have single value in tuple, then we have to put , (coma) after value
newTuple = ('a')
print(type(newTuple))

# We have set comma
newTuple1 = ('a',)
print(type(newTuple1))

# Now, by tuple function
funcTuple = tuple('abcdefhhikklmnopqesrucwxuz')
print(funcTuple)

('a', 'b', 'c', 'd', 'e')
<class 'str'>
<class 'tuple'>
('a', 'b', 'c', 'd', 'e', 'f', 'h', 'h', 'i', 'k', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'e', 's', 'r', 'u', 'c', 'w', 'x', 'u', 'z')

When we creating a tuple then,<br>
**Time Complexity:** O(1)<br>
**Space Complexity:** O(n)

### Tuples in Memory / Accessing Tuple Elements

An empty tuple occupies a block of 48 bytes.

<img src="https://www.opensourceforu.com/wp-content/uploads/2021/04/Lists-and-Tuples_python-illustration.jpg" alt="memoryInTupleOrList" height="390px"/>

### Access Tuple elements
1. [] bracket operator
  * newTuple = ('a', 'b', 'c', 'd', 'e')
  * print(newTuple[2])
  * print(newTuple[-2])
2. slice[:] operator
  * **syntax:** tuple[leftIndex:rightIndex]
    * print(newTuple[1: 4])
    * ('b', 'c', 'd')

In [ ]:
newTuple = ('a', 'b', 'c', 'd', 'e')
print(newTuple[1: 4])

('b', 'c', 'd')

### Traverse through tuple

In [ ]:
for i in newTuple:
  print(i)
print("###########")
for i in range(len(newTuple)):
  print(newTuple[i])

# Time Complexity: O(n)
# Space Complexity: O(1)

### Searching for an element in Tuple

In [ ]:
def searchElement(tup, ele):
  for i in tup:
    if ele == i:
      return f"You got {i}"
  else:
    return f"You haven't {ele}"

print(searchElement(newTuple, 'b'))

# Time Complexity : O(n)
# Space Complexity : O(1)

You got b

### Tuple Operations Functions

In [ ]:
# + operator
# Syntex:- tuple1 + tuple2
tryTuple = 1,2,3,5,6,7
print(tryTuple + funcTuple)

(1, 2, 3, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 'h', 'h', 'i', 'k', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'e', 's', 'r', 'u', 'c', 'w', 'x', 'u', 'z')

In [ ]:
# * operator
# Syntex: tuple * int
# we use * operator for repeating element int times
print(tryTuple*2)

(1, 2, 3, 5, 6, 7, 1, 2, 3, 5, 6, 7)

In [ ]:
print(3 in tryTuple)
print(4 in tryTuple)

True
False

In [ ]:
# count method
print(tryTuple.count(2))

1

In [ ]:
# index method
print(tryTuple.index(3))

2

In [ ]:
# len method
print(len(tryTuple))

6

In [ ]:
# min method
print(min(tryTuple))

1

In [ ]:
# max method
print(max(tryTuple))

7

In [ ]:
# tuple method
print(tuple([0, 9, 8, 7, 6]))

(0, 9, 8, 7, 6)

### Tuple V/s List


1.   List is **mutable**, whereas a tuple is **immutable.**
  *   List
  ```
  List = [0, 3, 4, 5, 6, 7]
  List[1] = 2
  print(List)
  # [0, 2, 4, 5, 6, 7]
  ```
  
  * Tuple
  ```
  tuple = 0, 1, 3, 4, 5, 6, 7
  tuple[2] = 2
  print(tuple)

  ---------------------------------------------------------------------------
  TypeError                                 Traceback (most recent call last)
  <ipython-input-22-aa8f482553a5> in <cell line: 2>()
        1 tuple = 0, 1, 3, 4, 5, 6, 7
  ----> 2 tuple[2] = 2
        3 print(tuple)

  TypeError: 'tuple' object does not support item assignment

2. Functions that can be used for both lists and tuples:<br>
     **len(), max(), min(), sum(), any(), all(), sorted()**

3. Methods that can be used for both lists and tuples:
  * count()
  * index()

4. Methods that can NIT be used for tuples:
  * append()
  * insert()
  * remove()
  * pop()
  * clear()
  * sort()
  * reverse()

5. -Tuple can be stored in Lists<br>- List can be stored in Tuple
 ```
 list1 = [(1,2), (9,0), (3,4)]
 print(list1)
 [(1, 2), (9, 0), (3, 4)]
 <!--  -->
  tuple1 = ([1, 3], [4, 5], [6, 7])
  print(tuple1)
  ([1, 3], [4, 5], [6, 7])
  ```

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ604Uan_JtVeKViMahYjFZ8E0K6k7RTJ0wkg&usqp=CAU" alt="TupleVsList" width="580px" height="350px" >

6. Important Points<br>- We generally use tuples for heterogeneous (different) data types and list for homogeneous (similar) data types.<br>- Iterating through a tuple is faster than with list.<br>- Tuples that contain immutable elemnets can be used as a key for a dictionary.<br>- If you have data that doesn't change. implementing it as tuple will gurantee that it remains write-protected.

### Time and Space Complexity in Python Tuples

|Operations                     |	Time Complexity|	Space Complexity        |
|:-----------------------------:|:--------------:|:----------------:|
|Creating an Tuple	      |O(1)            |	    O(n)        |                                          
|Traversining a given tuple	   |O(n)             |	O(1)              |                      
|Accessing a given cell	       |O(1)             |	O(1)|                    
|Searching a given value	     |O(n)             |	O(1)              |

### Tuple Interview Questions

**Q-1. What will be the output of the following code block?**
```
init_tuple = ()
print (init_tuple.__len__())
```
<br>A. None
<br>B.  1
<br>C. 0
<br>D. Exception

**Q-2. What will be the output of the following code block?**
```
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')

print (init_tuple_a == init_tuple_b)
```
<br>A. 0
<br>B.  1
<br>C. False
<br>D. True


**Q-3. What will be the output of the following code block?**
```
init_tuple_a = '1', '2'
init_tuple_b = ('3', '4')

print (init_tuple_a + init_tuple_b)
```
<br>A. (1, 2, 3, 4)
<br>B.  (‘1’, ‘2’, ‘3’, ‘4’)
<br>C. [‘1’, ‘2’, ‘3’, ‘4’]
<br>D. None

**Q-4. What will be the output of the following code block?**
```
init_tuple_a = 1, 2
init_tuple_b = (3, 4)

[print(sum(x)) for x in [init_tuple_a + init_tuple_b]]
```
<br>A. Nothing gets printed.
<br>B.  4
<br>C. 10
<br>D. TypeError: unsupported operand type

**Q-5. What will be the output of the following code block?**
```
init_tuple = [(0, 1), (1, 2), (2, 3)]
result = sum(n for _, n in init_tuple)

print(result)
```
<br>A. 3
<br>B. 6
<br>C. 9
<br>D. Nothing gets printed.

**Q-6. Which of the following statements given below is/are true?**

A. Tuples have structure, lists have an order.
<br>B. Tuples are homogeneous, lists are heterogeneous.
<br>C. Tuples are immutable, lists are mutable.
<br>D. All of them.

**Q-7. What will be the output of the following code block?**
```
l = [1, 2, 3]
init_tuple = ('Python',) * (l.__len__() - l[::-1][0])

print(init_tuple)
```
<br>A. ()
<br>B. (‘Python’)
<br>C. (‘Python’, ‘Python’)
<br>D. Runtime Exception.

**Q-8. What will be the output of the following code block?**
```
init_tuple = ('Python') * 3

print(type(init_tuple))
```
<br>A. <class ‘tuple’>
<br>B. <class ‘str’>
<br>C. <class ‘list’>
<br>D. <class ‘function’>

**Q-9. What will be the output of the following code block?**
```
init_tuple = (1,) * 3
init_tuple[0] = 2
print(init_tuple)
```
<br>A. (1, 1, 1)
<br>B. (2, 2, 2)
<br>C. (2, 1, 1)
<br>D. TypeError: ‘tuple’ object does not support item assignment

**Q-10. What will be the output of the following code block?**
```
init_tuple = ((1, 2),) * 7
print(len(init_tuple[3:8]))
```
<br>A. Exception
<br>B. 5
<br>C. 4
<br>D. None

In [ ]:
init_tuple = ()
print (init_tuple.__len__())

0

In [ ]:
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')

print (init_tuple_a == init_tuple_b)

True

In [27]:
init_tuple_a = '1', '2'
init_tuple_b = ('3', '4')

print (init_tuple_a + init_tuple_b)

('1', '2', '3', '4')

In [28]:
init_tuple_a = 1, 2
init_tuple_b = (3, 4)

[print(sum(x)) for x in [init_tuple_a + init_tuple_b]]

10

[None]

In [29]:
init_tuple = [(0, 1), (1, 2), (2, 3)]
result = sum(n for _, n in init_tuple)

print(result)

6

This Python code performs the following operations:

1. **`init_tuple`** is initialized as a list of tuples, where each tuple contains two elements.
2. `result` is assigned the sum of the second elements of each tuple in `init_tuple`, utilizing a generator expression.

Let's break down the code step by step:

- `init_tuple = [(0, 1), (1, 2), (2, 3)]`: This line initializes a list called `init_tuple` containing three tuples. Each tuple consists of two elements.
- `result = sum(n for _, n in init_tuple)`: This line calculates the sum of the second elements of each tuple in `init_tuple`. It uses a generator expression `(n for _, n in init_tuple)` to iterate through each tuple in `init_tuple` and extract the second element (`n`). The first element of each tuple is represented by `_` as a convention in Python to indicate that it is not being used in the computation. Finally, `sum()` is used to calculate the sum of all the extracted second elements.
- `print(result)`: This line prints the value of `result`.

In this specific case, the code sums the second elements of the tuples in `init_tuple`, which are `(1, 2, 3)`, resulting in `6`. Therefore, `print(result)` will output `6`.

In [30]:
l = [1, 2, 3]
init_tuple = ('Python',) * (l.__len__() - l[::-1][0])

print(init_tuple)

()

In [31]:
init_tuple = ('Python') * 3

In [33]:
print(type(init_tuple))

<class 'str'>

In [34]:
init_tuple = (1,) * 3
init_tuple[0] = 2
print(init_tuple)

TypeError: 'tuple' object does not support item assignment

In [35]:
init_tuple = ((1, 2),) * 7
print(len(init_tuple[3:8]))

4

### Answer the questions.

1. 0 <br>
2. True<br>
3. ('1', '2', '3', '4')<br>
4. 10
5. 6
6. All of them.
7. ( )
8. <class ‘str’>
9. TypeError: 'tuple' object does not support item assignment
10. 4